<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.atm">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ATM">
        <!--等待界面-->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:windowFullscreen="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录界面-->
        <activity
            android:name=".ui.login.login"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--功能界面-->
        <activity
            android:name=".ui.detail.function"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--修改密码-->
        <activity
            android:name=".ui.detail.changeMoney.ChangePassword"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--提示-->
        <activity
            android:name=".ui.detail.Remind"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--取款-->
        <activity
            android:name=".ui.detail.getmoney.GetMoney"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--存款-->
        <activity
            android:name=".ui.detail.putmoney.PutMoney"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--查看-->
        <activity
            android:name=".ui.detail.seek.Seek"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--余额显示-->
        <activity
            android:name=".ui.detail.seek.Display"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--交易信息显示-->
        <activity
            android:name=".ui.detail.seek.Display1"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--转账-->
        <activity
            android:name=".ui.detail.transfer.Transfer"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--用户须知-->
        <activity
            android:name=".Warn"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--打印凭条-->
        <activity
            android:name=".ui.detail.Print"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--六位密码界面-->
        <activity
            android:name=".ui.login.password"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>

</manifest>